In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\carpricecuv.csv")
df.head()

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,Cabriolet,Yes,Petrol,2.3 Turbo,75000.0,Tiptronic,Rear,02-03-2023,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,Jeep,No,Petrol,2.4,142000.0,Automatic,4x4,02-03-2023,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,Jeep,No,Petrol,2,91000.0,Automatic,4x4,02-03-2023,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,Jeep,No,Petrol,1.6,98000.0,Automatic,4x4,02-03-2023,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,Jeep,No,Petrol,0.7,314000.0,Manual,4x4,02-03-2023,Right-hand drive,Silver,2.0,43910

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4819 entries, 0 to 4818
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 4819 non-null   int64
 1   Manufacturer       4819 non-null   object
 2   Model              4819 non-null   object
 3   Prod_Year          4819 non-null   int64
 4   Category           4819 non-null   object
 5   Leather_Interioe   4819 non-null   object
 6   Fuel_Type          4819 non-null   object
 7   Engine Volume      4819 non-null   object
 8   Kilometers_Driven  4733 non-null   float64
 9   Gear_Box_Type      4819 non-null   object
 10  Drive_Wheel        4819 non-null   object
 11  Selling_Date       4819 non-null   object
 12  Wheel              4819 non-null   object
 13  Color              4819 non-null   object
 14  Airbags            4650 non-null   float64
 15  Price              4819 non-null   int64
dtypes: float64(2), int64(3), object(11)
memory usage: 602.5+ KB

In [9]:
df.describe()

                 Id   Prod_Year  Kilometers_Driven      Airbags         Price
count  4.819000e+03  4819.00000       4.733000e+03  4650.000000  4.819000e+03
mean   4.562941e+07  2011.30110       1.708417e+06     6.772688  2.181001e+05
std    6.639721e+05     5.43882       5.107095e+07     3.912210  1.911478e+05
min    2.813594e+07  1943.00000       1.600000e+03     0.000000  2.038000e+04
25%    4.572981e+07  2010.00000       7.267800e+04     4.000000  1.003600e+05
50%    4.577619e+07  2012.00000       1.245090e+05     6.000000  1.724900e+05
75%    4.580211e+07  2015.00000       1.840000e+05    12.000000  2.728400e+05
max    4.581665e+07  2020.00000       2.147484e+09    16.000000  2.885210e+06

In [10]:
df.isnull().sum()

Id                     0
Manufacturer           0
Model                  0
Prod_Year              0
Category               0
Leather_Interioe       0
Fuel_Type              0
Engine Volume          0
Kilometers_Driven     86
Gear_Box_Type          0
Drive_Wheel            0
Selling_Date           0
Wheel                  0
Color                  0
Airbags              169
Price                  0
dtype: int64

In [11]:
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [12]:
df.isnull().sum()

Id                   0
Manufacturer         0
Model                0
Prod_Year            0
Category             0
Leather_Interioe     0
Fuel_Type            0
Engine Volume        0
Kilometers_Driven    0
Gear_Box_Type        0
Drive_Wheel          0
Selling_Date         0
Wheel                0
Color                0
Airbags              0
Price                0
dtype: int64

In [14]:
print(df.columns)

Index(['Id', 'Manufacturer', 'Model', 'Prod_Year', 'Category',
       'Leather_Interioe', 'Fuel_Type', 'Engine Volume', 'Kilometers_Driven',
       'Gear_Box_Type', 'Drive_Wheel', 'Selling_Date', 'Wheel', 'Color',
       'Airbags', 'Price'],
      dtype='object')

In [15]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)

Index(['id', 'manufacturer', 'model', 'prod_year', 'category',
       'leather_interioe', 'fuel_type', 'engine_volume', 'kilometers_driven',
       'gear_box_type', 'drive_wheel', 'selling_date', 'wheel', 'color',
       'airbags', 'price'],
      dtype='object')

In [18]:
df["engine_volume"] = (
    df["engine_volume"]
    .astype(str)
    .str.replace("Turbo", "", regex=False)
    .str.strip()
)

df["engine_volume"] = pd.to_numeric(df["engine_volume"], errors="coerce")

df["engine_volume"] = df["engine_volume"].fillna(df["engine_volume"].mean())

In [19]:
df["airbags"] = df["airbags"].fillna(df["airbags"].mean())

In [21]:
df.isnull().sum()

id                   0
manufacturer         0
model                0
prod_year            0
category             0
leather_interioe     0
fuel_type            0
engine_volume        0
kilometers_driven    0
gear_box_type        0
drive_wheel          0
selling_date         0
wheel                0
color                0
airbags              0
price                0
dtype: int64

In [23]:
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df[column] = np.where(df[column] < lower, lower,
                           np.where(df[column] > upper, upper, df[column]))

In [26]:
cap_outliers(df, "price")
cap_outliers(df, "kilometers_driven")
cap_outliers(df, "engine_volume")

In [28]:
df["price"].describe()

count      4819.000000
mean     205345.185723
std      138693.186373
min       20380.000000
25%      100360.000000
50%      172490.000000
75%      272840.000000
max      531560.000000
Name: price, dtype: float64

In [30]:
df["kilometers_driven"].describe()

count      4819.000000
mean     142310.027910
std       90928.224427
min        1600.000000
25%       74000.000000
50%      126000.000000
75%      187647.000000
max      358117.500000
Name: kilometers_driven, dtype: float64

In [31]:
df["engine_volume"].describe()

count    4819.000000
mean        2.301795
std         0.644797
min         0.750000
25%         1.800000
50%         2.000000
75%         2.500000
max         3.550000
Name: engine_volume, dtype: float64